@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Permanent+Marker&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Permanent+Marker&family=Satisfy&family=Yanone+Kaffeesatz&display=swap');

body {
  text-align: center;
  background: #3A1C71;
  background: -webkit-linear-gradient(to left, #bd652b, #a12d39, #ffffff);
  background: linear-gradient(to left, #00aeff, #043379, #00aeff);
}

.title{
  font-family:'Fascinate';
  font-size: 30px;
  color: #73B6FC;
  margin-top: -40px;
}

.sub-title{
  color: #FFF;
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
  margin-left: 325px;
  margin-top: -35px;
}

.quadrado {
  text-align: center;
  width: 50px;
  background: #eee;
  display: inline-block;
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #eee;
}

.quadrado:hover {
  transition: all 0.6s ease-out;
  transition: margin-left 15s, color 1s;
  opacity:0.5;
}

.info {
  display: grid;
}

.jogador{
  border-radius: 7px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
}

.vencedor{
  margin-top: 20px;
  letter-spacing: 1px;
}

.jogador, .vencedor {
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz';
  color: #FFF;
  text-align: center;
}

Button {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  margin-top: 15px;
}
Button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.ass{
  color: #fff;
  font-size: 12px;
  float: left;
  font-family: helvetica, sans-serif;
}
              
              
              