@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Permanent+Marker&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Permanent+Marker&family=Satisfy&family=Yanone+Kaffeesatz&display=swap');

body {
  text-align: center;
  background: #3A1C71;
  background: -webkit-linear-gradient(to left, #bd652b, #a12d39, #ffffff);
  background: linear-gradient(to left, #00aeff, #043379, #00aeff);
}

.title{
  font-family:'Fascinate';
  font-size: 30px;
  color: #FFF;
}

.sub-title{
  color: #FFF;
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
  margin-left: 325px;
}

.quadrado {
  text-align: center;
  width: 50px;
  background: #eee;
  display: inline-block;
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #eee;
}

.quadrado:hover{
  transition: all 0.6s ease-out;
  transition: margin-left 15s, color 1s;
  opacity:0.7;
}

.jogador, .vencedor {
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Yanone Kaffeesatz';
  color: #FFF;
}

button {
  margin-top: 40px;
  width: 10%;
  height: 30px;
  background: #eee;
  cursor: pointer;
}

button:hover{
  color: red;
}